* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}


.container {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 8px;
}

a {
    text-decoration: none;
    color: #333366;
}

a:hover {
    color: #ff3300;
}

.mb-1 {
    margin-bottom: 8px;
}

.mb-3 {
    margin-bottom: 24px;
}

.mt-3 {
    margin-top: 24px;
}

.ml-1 {
    margin-left: 8px;
}

h1 {
    font-size: 48px;
    font-family: 'Acme', sans-serif;
    color: rgb(0, 51, 102);
    line-height: 1.2;
}

p {
    font-size: 18px;
    text-indent: 1rem;
    margin-bottom: 1rem;
}

h2, h3, h4 {
    color: rgb(0, 51, 102);
    font-family: 'Acme', sans-serif;
    margin-bottom: 1rem;
    margin-top: 2rem;

}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

/*Кнопки*/

.big-btn {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-family: "Nunito", sans-serif;
    line-height: 1.2;
    background-color: #ff3300;
    text-transform: uppercase;
    padding: 30px 60px;
    display: block;
    width: fit-content;
    margin-top: 15px;

}

.big-btn:hover {
    color: rgb(255, 255, 255);
}

.btn-std-red {
    margin: 10px auto;
    display: block;
    background: #ff3300;
    padding: 15px 25px;
    font-size: 24px;
    border: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

.paw-btn-container {
    position: relative;
    height: 155px;
    padding: 45px;
}

.paw-btn-container__bg-img {
    height: 155px;
    position: absolute;
    top: -10px;
    left: calc(50% - 50px);
    z-index: -1;
    transform: rotate(21deg);
}

.btn-subscribe {
    display: block;
    background: #3C9DD0;
    padding: 15px 25px;
    font-size: 20px;
    border: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}


/*backgrounds*/

.bg-blue {
    background-color: #3399cc;
}

.bg-yellow {
    background-color: #ffcc00;
}

.bg-pink {
    background-color: #ff9966;
}

.bg-soft-yellow {
    background-color: #ffd973;
}

/*HEADER*/


.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 36px;
    border-bottom: 2px solid #ccccff;
    padding-bottom: 25px;
}

.header__logo-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__logo {
    max-height: 60px;
}

.header__title {
    margin-left: 30px;
    font-size: 24px;
    color: #333366;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}


/*NAVIGATION*/

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__nav > ul > li {
    margin: 0 25px;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active,
.submenu-link,
.submenu-link:link,
.submenu-link:visited,
.submenu-link:active {
    display: block;
    position: relative;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ff3300;
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-link:hover::before,
.nav-link:hover::before {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
}

.dropdown {
    position: relative;
}

.dropdown .nav-link {
    padding-right: 15px;
    height: 17px;
    line-height: 17px;
}

.dropdown .nav-link::after {
    content: "";
    position:absolute;
    top: 6px;
    right: 0;
    border: 5px solid transparent;
    border-top-color: #333366;
}

.nav-link:hover::after {
    border-top-color: #ff3300;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 200;
    width: 200px;
    margin-left: -100px;
    background: #fff;
    border-radius: 3px;
    line-height: 1.46667;
    margin-top: -5px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    opacity:0;
    -webkit-transform: translate(0, 0) scale(.85);
    transform: translate(0, 0)scale(.85);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}

.submenu::after,
.submenu::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    height: 0;
}

.submenu::after {
    border-bottom-color: #fff;
}

.submenu::before {
    margin-left: -13px;
    border: 13px solid transparent;
    border-bottom-color: rgba(0,0,0,.1);
    -webkit-filter:blur(1px);
    filter:blur(1px);
}

.submenu-items {
    list-style: none;
    padding: 10px 0;
}

.submenu-item {
    display: block;
    text-align: left;
}

.submenu-link,
.submenu-link:link,
.submenu-link:visited,
.submenu-link:active {
    color: #ff3300;
    padding: 10px 20px;
}

.submenu-link:hover {
    text-decoration: underline;
}

.submenu-seperator {
    height: 0;
    margin: 12px 10px;
    border-top: 1px solid #eee;
}

.show-submenu .submenu {
    opacity: 1;
    -webkit-transform: translate(0, 25px) scale(1);
    transform: translate(0, 25px) scale(1);
    pointer-events: auto;
}


/*----------------------*/

.header__btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    justify-content: flex-end;
    position: relative;
}

.header__search {
    max-height: 30px;
    margin-right: 30px;
}

.header__hamburger-btn {
    max-height: 30px;
}


/*INTRO*/

.intro {
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding: 80px 0 190px;
}

.intro__col {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.intro__circle {
    border-radius: 50%;
    background-color: rgb(60, 157, 208);
    position: absolute;
    z-index: -10;
    top: 30px;
    left: 0;
    width: 480px;
    height: 480px;

}

.intro__main-img {
    position: absolute;
    z-index: -9;
    top: calc(10% + 15px);
    left: calc(1% + 20px);
    width: 400px;
    height: 400px;
    rotation-point:50% 50%;
    transform: rotate(21deg);
    display: block;
}

.intro__figure {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: block;
    position: absolute;
    z-index: -11;
    background-color: rgb(60, 157, 208);
    border: 30px solid #ffcc66;
    bottom: 15px;
    right: 0;
}


 /*Карточки */


.list-main-cards {
    margin-top: 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-main-cards__item {
    width: 243px;
    display: block;
    position: relative;
    height: 320px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 25px;
}



.list-main-cards__item:hover .list-main-cards__item__detail {
    top: 0;
    height: 100%;
}

.list-main-cards__item:hover .list-main-cards__item__title a{
    color: #FF6B40;
}

.list-main-cards__item__img {
    max-width: 243px;
    max-height: 290px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.list-main-cards__item__detail {
    height: 115px;
    color: white;
    padding: 15px;
    position: absolute;
    top: 50%;
    z-index: 2;
    transition: .22s linear;
    overflow: hidden;

}

.list-main-cards__item__title {
    margin-top: 0;
    margin-bottom: 0;
}

.list-main-cards__item__title a{
    font-family: 'Acme', sans-serif;
    font-size: 24px;
    color: white;
}

.list-main-cards__item__text {
    font-size: 18px;
    text-indent: 0;
    margin-bottom: 0;
    max-height: 210px;
    overflow: hidden;

}



.list-main-cards__item-li {
    position: relative;
    margin: 20px 0 20px 0;
}

.list-main-cards__item-li:first-child , .ml-0 {
    /*margin-left: 0;*/
}

.list-main-cards__item__badge {
    display: inline-block;
    margin: 10px auto;
    text-align: center;
    border: 1px white solid;
    padding: 8px;
    color: white;
}

/*псевдо рамки ГОЛУБЫЕ*/

/*язычек первой карточки*/
.list-main-cards__item-first-blue:before {
    position: absolute;
    width: 243px;
    height: 320px;
    content: '';
    z-index: -2;
    background-color: #3399cc;
    border-radius: 52% 48% 22% 78% / 91% 89% 11% 9% ;
    margin-top: 20px;

}

.list-main-cards__itemX-blue:before {
    top: 0;
    position: absolute;
    width: 243px;
    height: 320px;
    content: '';
    z-index: -2;
    background-color: #3399cc;
    border-radius: 10px;
    transition: .1s linear;
    transition-delay: 0s;
}

.list-main-cards__itemX-blue:after {
    top: 0;
    position: absolute;
    width: 243px;
    height: 320px;
    content: '';
    z-index: -2;
    background-color: #3399cc;
    border-radius: 10px;
    transition: .1s linear;
    transition-delay: 0s;
}

.list-main-cards__itemY-blue:before {
    top: 0;
    position: absolute;
    width: 243px;
    height: 320px;
    content: '';
    z-index: -2;
    background-color: #3399cc;
    border-radius: 10px;
    transition: .1s linear;
    transition-delay: 0s;
}

.list-main-cards__itemY-blue:after {
    top: 0;
    position: absolute;
    width: 243px;
    height: 320px;
    content: '';
    z-index: -2;
    background-color: #3399cc;
    border-radius: 10px;
    transition: .1s linear;
    transition-delay: 0s;
}

/*анимация открытия рамок*/
.list-main-cards__item:hover ~.list-main-cards__itemX-blue:before {
    margin-left: -20px;
    border-radius: 11% 89% 89% 11% / 50% 50% 50% 50% ;
    transition-delay: .3s;
}

.list-main-cards__item:hover ~.list-main-cards__itemX-blue:after {
    margin-left: 20px;
    border-radius: 89% 11% 11% 89% / 50% 50% 50% 50%  ;
    transition-delay: .3s;
}

.list-main-cards__item:hover ~.list-main-cards__itemY-blue:before {
    margin-top: -20px;
    border-radius: 50% 50% 50% 50% / 9% 9% 91% 91%   ;
    transition-delay: .3s;
}

.list-main-cards__item:hover ~.list-main-cards__itemY-blue:after {
    margin-top: 20px;
    border-radius: 50% 50% 50% 50% / 91% 91% 9% 9% ;
    transition-delay: .3s;
}


/*псевдо рамки Желтые*/

/*язычек первой карточки*/
.list-main-cards__item-first-yellow:before {
    position: absolute;
    width: 243px;
    height: 320px;
    content: '';
    z-index: -2;
    background-color: #ffcc00;
    border-radius: 52% 48% 22% 78% / 91% 89% 11% 9% ;
    margin-top: 20px;

}

.list-main-cards__itemX-yellow:before {
    top: 0;
    position: absolute;
    width: 243px;
    height: 320px;
    content: '';
    z-index: -2;
    background-color: #ffcc00;
    border-radius: 10px;
    transition: .1s linear;
    transition-delay: 0s;
}

.list-main-cards__itemX-yellow:after {
    top: 0;
    position: absolute;
    width: 243px;
    height: 320px;
    content: '';
    z-index: -2;
    background-color: #ffcc00;
    /*border-radius: 89% 11% 11% 89% / 50% 50% 50% 50%  ;*/
    border-radius: 10px;
    /*margin-left: 20px;*/
    transition: .1s linear;
    transition-delay: 0s;
}

.list-main-cards__itemY-yellow:before {
    top: 0;
    position: absolute;
    width: 243px;
    height: 320px;
    content: '';
    z-index: -2;
    background-color: #ffcc00;
    /*border-radius: 50% 50% 50% 50% / 9% 9% 91% 91%   ;*/
    border-radius: 10px;
    /*margin-top: -20px;*/
    transition: .1s linear;
    transition-delay: 0s;
}

.list-main-cards__itemY-yellow:after {
    top: 0;
    position: absolute;
    width: 243px;
    height: 320px;
    content: '';
    z-index: -2;
    background-color: #ffcc00;
    /*border-radius: 50% 50% 50% 50% / 91% 91% 9% 9%  ;*/
    border-radius: 10px;
    /*margin-top: 20px;*/
    transition: .1s linear;
    transition-delay: 0s;
}

/*анимация открытия рамок*/
.list-main-cards__item:hover ~.list-main-cards__itemX-yellow:before {
    margin-left: -20px;
    border-radius: 11% 89% 89% 11% / 50% 50% 50% 50% ;
    transition-delay: .3s;
}

.list-main-cards__item:hover ~.list-main-cards__itemX-yellow:after {
    margin-left: 20px;
    border-radius: 89% 11% 11% 89% / 50% 50% 50% 50%  ;
    transition-delay: .3s;
}

.list-main-cards__item:hover ~.list-main-cards__itemY-yellow:before {
    margin-top: -20px;
    border-radius: 50% 50% 50% 50% / 9% 9% 91% 91%   ;
    transition-delay: .3s;
}

.list-main-cards__item:hover ~.list-main-cards__itemY-yellow:after {
    margin-top: 20px;
    border-radius: 50% 50% 50% 50% / 91% 91% 9% 9% ;
    transition-delay: .3s;
}


/*БЛОК ПОДПИСКА*/

.subscribe {
    margin-top: 20px;
    /*background: url("../img/pattern2.gif") repeat local 100% 100% ;*/
    height: 390px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.subscribe__bg {
    height: 390px;
    width: 100%;
    background: url("../img/pattern3.png") repeat local 100% 100% ;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.subscribe__form {
    padding: 50px;
    border-radius: 21px;
    background-color: rgb(248, 251, 249);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
}

.subscribe__title {
    max-width: 190px;
    font-size: 30px;
    font-family: 'Acme', sans-serif;
    color: rgb(0, 51, 102);
    line-height: 1.2;
    margin-right: 18px;
}

.subscribe__input {
    border: 3px solid rgb(102, 153, 204);
    border-radius: 4px;
    background-color: rgb(248, 251, 249);
    font-size: 18px;
    padding: 13px;
    display: block;
    height: 26px;
    margin-right: 18px;
}


/*ФУТЕР*/

.footer {
    display: flex;
    margin-top: -20px;
    background-color: #003366;
    z-index: 0;
    padding-top: 120px;
    flex-direction: column;
    width: 100%;
}

.footer__cont {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /*width: 90%;*/
    padding-bottom: 30px;
    border-bottom: 3px solid #006699;
}

.footer__col-lg {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.footer__logo-cont {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
}

.footer__title {
    color: white;
    font-size: 24px;
    line-height: 1.2;
    margin-left: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.footer__text {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

.footer__menu {
    list-style: none;
}

.footer__menu-title {
    color: white;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footer__menu-item {
    color: white;
    font-size: 18px;
    line-height: 1.2;
}

.footer__menu > li {
    margin-bottom: 10px;
}

.footer__cont {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding-bottom: 30px;
}

.footer__bottom {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer_social {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: row;
}

.footer_social-icon {
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
    width: 30px;
    margin-left: 5px;
}


/*главная область*/
.main-area {
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex-direction: row;
}

.main-area__posts {
    /*width: 66%;*/
    min-width: 66%;
}

.paw-title {
    font-size: 30px;
    font-family: 'Acme', sans-serif;
    color: rgb(255, 51, 0);
    line-height: 1.2;
    position: relative;
    border-bottom: 2px #6699cc solid;
    padding-bottom: 10px;
    margin: 27px 0;

}

.paw-title:after {
    position: absolute;
    content: '';
    top: -17px;
    left: 0;
    background: url("../img/paw-solid-or.png") no-repeat;
    width: 66px;
    height: 66px;
    z-index: -1;
    display: block;
    background-size: contain;
    transform: rotate(45deg);
}

.list-main-card {
    display: flex;
    flex-direction: row;
    height: 254px;
    margin-bottom: 35px;
}

.list-main-card:hover .list-main-card__img {
    transform: scale(1.08);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.list-main-card:hover .list-main-card__img__container__over-data {
    /*display: flex;*/
    transition: .55s opacity, .55s visibility;
    opacity: 1;
}

.list-main-card__img__container {
    max-width: 380px;
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.list-main-card__img__container__over-data {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    flex-direction: column;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .3);
    display: flex;
    transition: .44s opacity, .44s visibility;
    opacity: 0;

}

.list-main-card__img__container__over-data__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.list-main-card__img__container__over-data__icon {
    height: 15px;
    margin-right: 8px;
}

.list-main-card__img {
    height: 100%;
    width: 100%;
    transition: transform ease-in-out 300ms;
    overflow: hidden;
}

.list-main-card__detail {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 15px;
    text-align: center;
    border-radius: 0 0 40px 0;
    overflow: hidden;
}

.list-main-card__detail h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.category-badge {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    border-radius: 5px;
    padding: 5px;
    margin-top: 8px;
    display: block;
    width: max-content;
}

.list-main-card__detail__title {
    font-size: 28px;
    font-family: 'Acme', sans-serif;
    color: rgb(51, 102, 153);
    line-height: 1.2;
    margin: 20px 0;
    display: block;
}

.list-main-card__text {
    font-size: 16px;
}


/*side bar*/

.aside {
    min-width: 30%;
    margin-left: 30px;
}

.aside-title {
    font-size: 30px;
    font-family: 'Acme', sans-serif;
    color: rgb(255, 51, 0);
    line-height: 1.2;
    position: relative;
    border-bottom: 2px #6699cc solid;
    padding-bottom: 10px;
    margin: 27px 0 27px 0;
    padding-left: 40px;


}

.aside-title:after {
    position: absolute;
    content: '';
    top: 5px;
    left: 0;
    background: url("../img/cat-solid-red.png") no-repeat;
    width: 26px;
    height: 26px;
    z-index: -1;
    display: block;
    background-size: contain;
}

.featured-post {
    display: flex;
    flex-direction: column;
}

.featured-post__img {
    width: 100%;
}

.aside-item__title {
    font-size: 24px;
    font-family: 'Acme', sans-serif;
    color: rgb(0, 102, 153);
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
}

.featured-post__props {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: rgb(0, 51, 102);
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 12px;;
}

.featured-post__detail {
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-indent: 0;
}

.popular-post__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.popular-post__img {
    width: 100%;
    margin-top: 5px;
}

.popular-post__col-left {
    width: 50%;
}

.popular-post__col-right {
    width: 50%;
    margin-left: 8px;
}

.popular-post__detail {
    font-size: 14px;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-indent: 0;
}

.popular-post__props {
    font-size: 12px;
    color: rgb(0, 51, 102);
    line-height: 1.2;
    text-indent: 0;
}


/*пагинатор*/

.pager {
    margin: 3.75rem 0 3.75rem;
    font-size: 0;
    text-align: center;
}

.page-numbers {
    display: inline-block;
    vertical-align: top;
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0 2px;
    position: relative;
    border-radius: 4px;
    text-align: center;
    width: 2.625rem;
    height: 2.625rem;
    line-height: 2.625rem;
    margin-left: -1px;
    color: #2f3640;
    text-decoration: none;
    transition: 0.3s;

}

.page-numbers:hover, .page-numbers:focus, .page-numbers:active {
    background-color: #3C9DD0;
    border-color: #ffb74d;
    color: #fff;
    text-decoration: none;
}

.page-numbers.current {
    background-color: #3C9DD0;
    border-color: #ffb74d;
    color: #fff;
    text-decoration: none;
}

.svg-next {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
}


/*GALLERY*/

.m-p-g {
    max-width: 100%;
    margin: 0 auto;
}
.m-p-g__thumbs-img {
    margin: 0;
    float: left;
    vertical-align: bottom;
    cursor: pointer;
    z-index: 1;
    position: relative;
    opacity: 0;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    -webkit-tap-highlight-color: transparent;
    will-change: opacity, transform;
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.m-p-g__thumbs-img.active {
    z-index: 50;
}
.m-p-g__thumbs-img.layout-completed {
    opacity: 1;
}
.m-p-g__thumbs-img.hide {
    opacity: 0;
}
.m-p-g__thumbs-img:hover {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}
.m-p-g__fullscreen {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: transparent;
    visibility: hidden;
    -webkit-transition: background 0.25s ease-out, visibility 0.01s 0.5s linear;
    transition: background 0.25s ease-out, visibility 0.01s 0.5s linear;
    will-change: background, visibility;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.m-p-g__fullscreen.active {
    -webkit-transition: background .25s ease-out, visibility .01s 0s linear;
    transition: background .25s ease-out, visibility .01s 0s linear;
    visibility: visible;
    background: rgba(0, 0, 0, 0.95);
}
.m-p-g__fullscreen-img {
    pointer-events: none;
    position: absolute;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    top: 50%;
    left: 50%;
    max-height: 100vh;
    max-width: 100%;
    visibility: hidden;
    will-change: visibility;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}
.m-p-g__fullscreen-img.active {
    visibility: visible;
    opacity: 1 !important;
    -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 0.5s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s ease-out;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.m-p-g__fullscreen-img.almost-active {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}
.m-p-g__controls {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    height: 20vh;
    background: -webkit-linear-gradient(bottom, transparent 0%, rgba(0, 0, 0, 0.55) 100%);
    background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.55) 100%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.m-p-g__controls.active {
    opacity: 1;
    visibility: visible;
}
.m-p-g__controls-close, .m-p-g__controls-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
}
.m-p-g__controls-close:focus, .m-p-g__controls-arrow:focus {
    outline: none;
}
.m-p-g__controls-arrow {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 20%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    opacity: 0;
}
.m-p-g__controls-arrow:hover {
    opacity: 1;
}
.m-p-g__controls-arrow--prev {
    left: 0;
    padding-left: 3vw;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.m-p-g__controls-arrow--next {
    right: 0;
    padding-right: 3vw;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.m-p-g__controls-close {
    position: absolute;
    top: 3vh;
    left: 3vw;
    z-index: 5;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.m-p-g__btn {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.07);
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.m-p-g__btn:hover {
    background: rgba(255, 255, 255, 0.15);
}
.m-p-g__alertBox {
    position: fixed;
    z-index: 999;
    max-width: 700px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: white;
    padding: 25px;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    color: grey;
}
.m-p-g__alertBox h2 {
    color: red;
}

.m-p-g__gallery {
    width: 100%;
}
/*--------------------------*/

/*intro-small*/

.intro-small {
    width: 100%;
    height: 200px;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-small__circle {
    border-radius: 50%;
    background-color: rgb(60, 157, 208);
    position: absolute;
    z-index: -10;
    top: 30px;
    left: 0;
    width: 300px;
    height: 300px;

}

.intro-small__main-img {
    position: absolute;
    z-index: -9;
    top: calc(10% + 15px);
    left: calc(1% + 20px);
    width: 250px;
    height: 250px;
    rotation-point:50% 50%;
    transform: rotate(21deg);
    display: block;
}

.intro-small__figure {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: block;
    position: absolute;
    z-index: -11;
    background-color: rgb(60, 157, 208);
    border: 30px solid #ffcc66;
    top: 70px;
    right: -40px;
}

.intro-small__container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/*----------------*/


/* Regular breadcrumbs */

.bread ul {
    list-style-type: none;
    margin: 0;
    padding: 2em;
    color: rgb(0, 51, 102);
}

.bread li {
    display: inline-block;
    position: relative;
    padding-right: 2em;
    margin: 0;
}

.bread li:after {
    content: '>';
    position: absolute;
    display: inline-block;
    right: 0;
    width: 2em;
    text-align: center;
}

.bread li:last-child {
    font-weight: bold;
}
li:last-child:after {
    content: '';
}

.bread a {
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 51, 102);
    white-space: nowrap;
}

.bread a:hover {
    text-decoration: underline;
    color: rgb(255, 51, 0);
}


/* Collapsed breadcrumbs */

.collapsed li {
    overflow: hidden;
}
.collapsed li:after {
    background: rgb(227,227,227);
    background: linear-gradient(90deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,1) 35%);
    padding-left: 1em;
}

.collapsed a {
    max-width: 2em;
    transition: max-width 300ms ease-in-out;
}
.collapsed a:hover,
.collapsed a:focus,
.collapsed li:hover a {
    max-width: 1000px;
}
.collapsed li:hover:after {
    padding-left: 0em;
    background: transparent;
}


/*article*/
.article {
    padding: 2rem;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.13);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.13);
}

.post-thumbnail img{
    width: 100%;
    margin-bottom: 2rem;
}

.entry-summary {
    margin-bottom: 2rem;
}

.wp-block-quote {
    border-left: 4px solid rgb(255, 51, 0);
    padding-left: 15px;
}

/*-------------*/


/*Article parts*/
.article__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.article__header__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
}

.article__header__author-icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #ffcc66;
    margin-right: 15px;
}

.article__tag-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
/*------------------*/

/*Comments*/
.comments-area__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.comment-card {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border: solid 1px #3C9DD0;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    max-width: 96%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.comment-card__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.comment-card__author-icon {
    width: 30px;
    height: 30px;
    background-color: #3C9DD0;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-card__author {
    font-family: 'Acme', sans-serif;
}

.comment-card__date {
    margin-left: auto;
}

.comment-card__text {
    margin: 15px;
    word-wrap: break-word;


}

.btn-answer__cont {
    display: flex;
    justify-content: flex-end;
}

.btn-answer {
    border: 1px solid rgb(60, 157, 208);
    padding: 5px;
    border-radius: 5px;
}


.inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
}
.inp .label {
    position: absolute;
    top: 10px;
    left: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    pointer-events: none;
}
.inp .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
}
.inp input {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    margin-bottom: 30px;
}
.inp input:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.inp input:not(:placeholder-shown) + .label {
    color: rgba(0, 0, 0, 0.5);
    -webkit-transform: translate3d(0, -32px, 0) scale(0.75);
    transform: translate3d(0, -32px, 0) scale(0.75);
}
.inp input:focus {
    background: rgba(0, 0, 0, 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 rgb(60, 157, 208);
}
.inp input:focus + .label {
    color: rgb(60, 157, 208);
    -webkit-transform: translate3d(0, -32px, 0) scale(0.75);
    transform: translate3d(0, -32px, 0) scale(0.75);
}
.inp input:focus + .label + .focus-bg {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.btn-submit {
    padding: 15px;
    background: none;
    border: 1px solid #3C9DD0;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.3s;
}

.btn-submit:hover {
    background-color: #3C9DD0;
}

.comment-add {
    margin-bottom: 50px;
}

/*-----------------*/

/*wp std asides*/
.aside-list {
    list-style: none;
    margin-left: 10px;
}

.aside-list li {
    position: relative;
    padding-left: 10px;
}

.aside-list li:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    border: 5px solid transparent;
    border-left-color: rgb(255, 51, 0);
}

.wp-tag-cloud {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.aside-wrapper {
    display: block;
    width: 100%;
    border-bottom: 2px #6699cc solid;
    padding-bottom: 10px;
    margin: 27px 0 27px 0;
}

.search-form {
    display: flex;
    flex-direction: row;
    height: max-content;
}

.search-submit {
    height: 66px;
    width: 66px;
    padding: 7px;
    position: relative;
    background-color: #3C9DD0;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.search-submit:hover {
    background-color: #ffcc66;
}

.search-submit:after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 18px;
    left: 14px;
    background: url("../img/search-solid.svg");
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);

}

.search-form .inp {
    height: 67px;
}

.screen-reader-text {
    overflow: hidden;
    width: 1px;
    height: 1px;
    display: block;
}

/*----------------*/

/*LOADER*/

.loader {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
}

.loader-cont {
    position: relative;
    width: 100%;
    height: 100%;
}

.loader-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 51% 49% 50% 50% / 35% 35% 65% 65% ;
    background-color: #ffcc00;
    animation: loading 1.5s cubic-bezier(.8, .5, .2, 1.4) infinite;
}

.loader-item__main {
    width: 60px;
    height: 50px;
    animation-delay: 0.1s;
}

.loader-item__1 {
    border-radius: 50%;
    transform: translate( calc(-50%  - 40px), calc( -50% - 30px ));
    animation-delay: 0.2s;
}

.loader-item__2 {
    border-radius: 50%;
    transform: translate( calc(-50%  - 16px), calc( -50% - 48px ));
    animation-delay: 0.3s;
}

.loader-item__3 {
    border-radius: 50%;
    transform: translate( calc(-50%  + 14px), calc( -50% - 46px ));
    animation-delay: 0.4s;
}

.loader-item__4 {
    border-radius: 50%;
    transform: translate( calc(-50%  + 40px), calc( -50% - 30px ));
    animation-delay: 0.5s;
}

@keyframes loading{
    0%{
        opacity: 0;
        background-color: #FF6B40;
    }
    50%{
        opacity: 1;
        background-color: #ffcc00;
    }
    100%{
        opacity: 0;
        background-color: #ffcc00;
    }
}

.loading-ends {
    display: none;
}

/*-------------------------*/


/*------Full scrin menu-------*/

.flex-center {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}


.outer-menu {
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 9;
}
.checkbox-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: 0;
}
.checkbox-toggle:checked + .hamburger > div {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.checkbox-toggle:checked + .hamburger > div:before,
.checkbox-toggle:checked + .hamburger > div:after {
    top: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.checkbox-toggle:checked + .hamburger > div:after {
    opacity: 0;
}

.checkbox-toggle:hover + .hamburger {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.checkbox-toggle:checked:hover + .hamburger > div {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.hamburger-grp {
    position: relative;
    width: 30px;
    height: 30px;
}

.hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 30px;
    height: 30px;
    padding: 1px;
    background: none;
    border-radius: 0 0.12em 0.12em 0;
    cursor: pointer;
    -webkit-transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.hamburger > div {
    position: relative;
    -webkit-box-flex: 0;
    flex: none;
    width: 100%;
    height: 3px;
    background: #000000;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.hamburger > div:before,
.hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: inherit;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.hamburger > div:after {
    top: 10px;
}
.outer-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 100;
}
.outer-menu .menu > div {
    width: 200vw;
    height: 200vw;
    color: #FEFEFE;
    background: rgba(255, 204, 102, 0.97);
    border-radius: 50%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-flex: 0;
    flex: none;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.outer-menu .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    overflow-y: auto;
    -webkit-box-flex: 0;
    flex: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.outer-menu .menu > div > div > ul {
    list-style: none;
    padding: 0 1em;
    margin: 0;
    display: block;
    max-height: 100vh;
}
.outer-menu .menu > div > div > ul > li {
    padding: 0;
    margin: 1em;
    font-size: 24px;
    display: block;
}
.outer-menu .menu > div > div > ul > li > a {
    position: relative;
    display: inline;
    cursor: pointer;
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease;
}
.outer-menu .menu > div > div > ul > li > a:hover {
    color: #e5e5e5;
}
.outer-menu .menu > div > div > ul > li > a:hover:after {
    width: 100%;
}
.outer-menu .menu > div > div > ul > li > a:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -0.15em;
    left: 0;
    width: 0;
    height: 2px;
    background: #e5e5e5;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
}


.menu.show {
    pointer-events: auto;
    visibility: visible;
}
.menu.show > div {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
}
.menu.show > div > div {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease 0.4s;
    transition: opacity 0.4s ease 0.4s;
}



.checkbox-toggle:checked ~ .outer-menu > .menu {
pointer-events: auto;
visibility: visible;
}
.checkbox-toggle:checked ~ .outer-menu > .menu > div {
-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition-duration: 0.75s;
transition-duration: 0.75s;
}
.checkbox-toggle:checked ~ .outer-menu > .menu > div > div {
opacity: 1;
-webkit-transition: opacity 0.4s ease 0.4s;
transition: opacity 0.4s ease 0.4s;
}


/*---------------------------*/

/*--------search btn---------------------*/

.search-container {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY( calc( -50% + 2px ));
}

.search-box input[type="text"] {
    border: none;
    background: none;
    z-index: 1;
    width: 30px;
    height: 30px;
    transition: all .25s ease-in .25s;
    color: transparent;
    font-size: .75rem;
    line-height: 25px;
}
.search-box input[type="text"]:hover {
    cursor: pointer;
}
.search-box input[type="text"]:hover:focus {
    cursor: text;
}
.search-box input[type="text"]:hover + span {
    /*background: rgba(255, 255, 255, 0.2);*/
}
.search-box input[type="text"]:focus {
    width: 200px;
    padding: 0 10px;
    outline: none;
    color: black;
    background: none;
}
.search-box input[type="text"]:focus + span {
    width: 215px;
    background-color: white;
}
.search-box input[type="text"]:focus + span::before {
    width: 2px;
    opacity: 0;
    transition: all .25s ease-in;
}
.search-box input[type="text"] + span {
    z-index: -1;
    position: absolute;
    border: 2px solid #000000;
    top: 0;
    width: 25px;
    height: 25px;
    transition: all .25s ease-in .25s;
    border-radius: 25px;
    left: 0;
    background-color: transparent;
}
.search-box input[type="text"] + span::before {
    transition: all .25s ease-in .5s;
    transform-origin: left top;
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    border-radius: 5px;
    background: #000000;
    transform: rotate(45deg) translate(29px, -2px);
}


/*------------------------------------*/


/*--------slider----------------------*/


.slider {
    position: relative;
    height: 730px;
}
.slider__slides {
    z-index: -1;
    position: relative;
    height: 100%;
}
.slider__control {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    cursor: pointer;
}
.slider__control--right {
    left: 90%;
}
.slider__control:hover {
    background-color: #FF6B40;
}
.slider__control-line {
    position: absolute;
    left: 23px;
    top: 50%;
    width: 3px;
    height: 14px;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.slider__control-line:nth-child(2) {
    -webkit-transform: translateY(1px) rotate(-135deg);
    transform: translateY(1px) rotate(-135deg);
}
.slider__control--right .slider__control-line {
    left: 37px;
    -webkit-transform-origin: 1px 0;
    transform-origin: 1px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.slider__control--right .slider__control-line:nth-child(2) {
    -webkit-transform: translateY(1px) rotate(135deg);
    transform: translateY(1px) rotate(135deg);
}
.slider__control-line:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e2e2e2;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.slider__control:hover .slider__control-line:after {
    background-color: #fff;
}
.slider__control.a--rotation .slider__control-line:after {
    -webkit-animation: arrowLineRotation 0.49s;
    animation: arrowLineRotation 0.49s;
}
.slider__control.a--rotation .slider__control-line:nth-child(1):after {
    -webkit-animation: arrowLineRotationRev 0.49s;
    animation: arrowLineRotationRev 0.49s;
}

@-webkit-keyframes arrowLineRotation {
    to {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes arrowLineRotation {
    to {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@-webkit-keyframes arrowLineRotationRev {
    to {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}
@keyframes arrowLineRotationRev {
    to {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}
.slide {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    /*width: 150vmax;*/
    width: 100%;
    height: 150vmax;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*border-radius: 50%;*/
    -webkit-transition: -webkit-clip-path 0s 0.91s;
    transition: -webkit-clip-path 0s 0.91s;
    transition: clip-path 0s 0.91s;
    transition: clip-path 0s 0.91s, -webkit-clip-path 0s 0.91s;
    -webkit-clip-path: circle(1px at 120vw 50%);
    clip-path: circle(1px at 120vw 50%);
}
.slide.s--prev {
    -webkit-clip-path: circle(10px at 30vw 50%);
    clip-path: circle(1px at 30vw 50%);
}
.slide.s--active {
    z-index: 1;
    -webkit-transition: -webkit-clip-path 1.3s;
    transition: -webkit-clip-path 1.3s;
    transition: clip-path 1.3s;
    transition: clip-path 1.3s, -webkit-clip-path 1.3s;
    /*-webkit-clip-path: circle(120vmax at 120vw 50%);*/
    /*clip-path: circle(120vmax at 120vw 50%);*/

    webkit-clip-path: circle(120vmax at 1px 50%);
    clip-path: circle(120vmax at 1px 50%);

}
.slide.s--active.s--active-prev {
    -webkit-clip-path: circle(120vmax at 1px 50%);
    clip-path: circle(120vmax at 1px 50%);
}
.slide:nth-child(1) .slide__inner {
    background-image: url("../img/iceland-1979445_1920.jpg");
}
.slide:nth-child(2) .slide__inner {
    background-image: url("../img/dog-838281_1920.jpg");
}
.slide:nth-child(3) .slide__inner {
    background-image: url("../img/cat-1192026_1920.jpg");
}
.slide:nth-child(4) .slide__inner {
    background-image: url("../img/pets-3715733_1920.jpg");
}
.slide:nth-child(5) .slide__inner {
    background-image: url("../img/cat-694718_1920.jpg");
}
.slide__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 80vh;
    margin-left: -50vw;
    margin-top: -50vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide__inner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.slide__content {
    margin-left: -30px;
    margin-top: 150px;
    max-width: 480px;
    color: #fff;
}
.slide__heading {
    margin-bottom: 20px;
    font-size: 60px;
    background-color: rgba(255, 107, 64, 0.9);
}
.slide__text {
    font-size: 25px;
}
.slide__text a {
    color: inherit;
}

.dnone {
    display: none;
}

/*-----------------------------------*/


/* ----------MOBILE------------------*/

@media (max-width: 769px) {

    .header__nav {
        display: none;
    }

    .intro__col {
        max-width: 90%;
        justify-content: center;
    }

    .big-btn {
        margin-left: auto;
    }

    .list-main-cards__item-li {
        margin-left: 15px;
        margin-right: 15px;
    }

    .list-main-cards {
        justify-content: space-around;
    }

    .main-area {
        flex-direction: column;
    }

    .aside {
        margin-left: 0;
    }

    .intro-small__circle {
        width: 150px;
        height: 150px;
        top: 110px;
        left: -60px;
    }

    .intro-small__main-img {
        width: 100px;
        height: 100px;
        left: -5%;
        top: 55%;
    }

    .intro-small__figure {
        width: 50px;
        height: 50px;
        top: 70%;
        border: 15px solid #ffcc66;
    }
}

@media (max-width: 426px) {
    .intro__figure {
        display: none;
    }

    .intro__circle {
        width: 280px;
        height: 280px;
        bottom: 0;
        top: unset;
    }

    .intro__main-img {
        width: 230px;
        height: 230px;
        bottom: 0;
        top: unset;
    }

    .intro {
        justify-content: center;
    }

    .big-btn {
        margin-right: auto;
    }

    .subscribe__form {
        flex-direction: column;
        padding: 30px;
    }

    .subscribe__title {
        text-align: center;
    }

    .subscribe__input {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .footer__cont {
        flex-direction: column;
    }

    .footer__col-lg {
        max-width: 100%;
    }

    .slider {
        height: 350px;
    }

    .slider__control {
        margin-top: 60px;
        width: 47px;
        height: 47px;
        left: 8%;
    }

    .slider__control--right .slider__control-line {
        left: 31px;
    }

    .slider__control-line {
        left: 18px;
    }

    .slider__control--right {
        left: 94%;
    }

    .slide__content {
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
    }

    .slide__heading {
        font-size: 45px;
        text-align: center;
    }

    .list-main-card {
        flex-direction: column;
    }

    .list-main-card__img__container {
        width: 100%;
        max-width: unset;
    }

    .list-main-card {
        height: 100%;
    }

    .list-main-card__detail {
        width: 100%;
        padding: 10px 0;
        margin-top: -10px;
    }

    .comment-card {
        max-width: 90%;
    }

    .inp input {
        padding-left: 0;
        padding-right: 0;
    }

    .hamburger {
        padding: 0;
    }

}

/*-------------------------------------*/